{% extends '../base.html' %}
{% load static %}

{% block content %}

<section class="section about-me" data-section="section1">
  <div class="container">
    <div class="section-heading">
      <h2>About Me</h2>
      <div class="line-dec"></div>
      <span>
        {{ aboutme.detail }}
      </span>
    </div>
    <div class="left-image-post">
      <div class="row">
        <div class="col-md-6">
          <div class="right-text">
            <h4>Academic Qualification(s)</h4>
            <dl>
              {% for edu in eduations %}
              {% if edu.edu_type == 1 %}
              <dt>{{edu.certificate}} - {{edu.passing_year}} </dt>
              <dd>Secured - {{edu.achieved_cgpa}} out of {{edu.base_cgpa}}</dd>
              <dd>- {{edu.organization}}</dd>
              <br>
              {% endif %}
              {% endfor %}
            </dl>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-text">

              <h4>Professional Certificate(s)</h4>
            <dl>
              {% for edu in eduations %}
              {% if edu.edu_type == 2 %}
              <dt>{{edu.certificate}} - {{edu.passing_year}} - {{edu.achieved_cgpa}} out of {{edu.base_cgpa}}</dt>
              <dd>Secured - {{edu.achieved_cgpa}} out of {{edu.base_cgpa}}</dd>
              <dd>- {{edu.organization}}</dd>
              <br>
              {% endif %}
              {% endfor %}
            </dl>
            </div>
        </div>
      </div>
    </div>
    <div class="right-image-post">
      <div class="row">
        <h4 class="col-12">My Skill(s)</h4>
        <div class="col-md-4">
          <div class="left-text">
            <p>
            <dl>
              <dt>Development Language(s)</dt>
              {% for skill in skills %}
              {% if skill.category == 1 %}
              <dd>- {{ skill.name }}</dd>
              {% endif %}
              {% endfor %}
            </dl>

            </p>
          </div>
        </div>
        <div class="col-md-4">


          <div class="left-text">
            <p>

              <dl>
                <dt>Framework(s)</dt>
                {% for skill in skills %}
                {% if skill.category == 2 %}
                <dd>- {{ skill.name }}</dd>
                {% endif %}
                {% endfor %}
              </dl>

            </p>
          </div>

        </div>
        <div class="col-md-4">

          <div class="left-text">
            <p>
              <dl>
                <dt> Additional Skill(s) </dt>
                {% for skill in skills %}
                {% if skill.category == 3 %}
                <dd>- {{ skill.name }}</dd>
                {% endif %}
                {% endfor %}
              </dl>

            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section my-services" data-section="section2">
  <div class="container">
    <div class="section-heading">
      <h2>What I’m good at?</h2>
      <div class="line-dec"></div>
      <span>Tools and Technologies That I've Worked With and Expert in</span>
    </div>
    <div class="row">
      {% for technology in technologies %}
      <div class="col-md-6">
        <div class="service-item">
          <a class="technology" href="https://github.com/Fahad-Md-Kamal" target="_blank">
            <img src="{{technology.icon}}" />
            <h4>{{technology.title}}</h4>
          </a>
          <p>{{technology.description}}</p>
        </div>
      </div>
      {% endfor %}
     
    </div>
  </div>
</section>

<section class="section my-work" data-section="section3">
  <div class="container">
    <div class="section-heading">
      <h2>My Work</h2>
      <div class="line-dec"></div>
      <span>The following projects which I've developed up until now.</span>
    </div>
    <div class="row">
      <div class="isotope-wrapper">
        <form class="isotope-toolbar">
          <label>
            <input type="radio" data-type="*" checked="" name="isotope-filter" />
            <span>all</span>
          </label>
          {% for platform in platforms %}
          <label>
            <input type="radio" data-type="{{platform.platform_name}}" name="isotope-filter" />
            <span>{{ platform.platform_name }}</span>
          </label>
          {% endfor %}
        </form>
        <div class="isotope-box">
          {% for project in projects %}
          <div class="isotope-item" data-type="{{ project.platform.platform_name }}">
            <figure class="snip1321">
              <img src="{{ project.image.url }}" alt="sq-sample26" />
              <figcaption>
                <a href="{{ project.image.url }}" data-lightbox="{{ project.image.url }}" data-title="{{ project.project_name }}">
                  <i class="fa fa-search"></i>
                </a>
                <h4>{{ project.project_name }}</h4>
                {% if project.project_url %}
                <a href="{{ project.project_url }}" target="_blank" >Visit Project</a>
                {% endif %}
                <span>{{ project.project_detail }}</span>
              </figcaption>
            </figure>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section contact-me" data-section="section4">
  <div class="container">
    <div class="section-heading">
      <h2>Contact Me</h2>
      <div class="line-dec"></div>
      <span>Please fill-out your queries through the form and I'll contact you ASAP.</span>
    </div>
    <div class="row">
      <div class="right-content">
        <div class="container">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..."
                    required="" />
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your email..."
                    required="" />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..."
                    required="" />
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    Send Message
                  </button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}